{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель повара</title>
    <link rel="stylesheet" href="{% static 'css/chef.css' %}">
</head>
<body>
    <div class="header">
        <h2>Повар</h2>
        <img src="{% static 'icons/chef.webp' %}" height="80" alt="chef-icon">
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button style="height: 100%">Выйти</button>
        </form>
    </div>

    <div class="orders">
        {% for order in orders %}

        <div class="order-card">
            <h3>Заказ #{{ order.id }}</h3>
            <p>Столик: {{ order.table_number }}</p>
            <ul>
                {% for position in order.order_positions %}
                    <li>{{ position.name }} ({{ position.quantity }} шт.)</li>
                {% endfor %}
            </ul>
        </div>

        {% endfor %}
    </div>

    <template id="order-template">
        <div class="order-card">
            <h3>Заказ #<span class="order-id"></span></h3>
            <p>Столик: <span class="table-number"></span></p>
            <ul class="items-list"></ul>
        </div>
    </template>

    <script src="{% static 'js/chef.js' %}"></script>
</body>
</html>