{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Логи системы</title>
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
</head>
<body>
    <div class="header">
        <h1>Логи системы</h1>
        <img src="{% static 'icons/admin.webp' %}" height="80" alt="admin-icon">
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button style="height: 100%">Выйти</button>
        </form>
    </div>

    <div class="container">

        <table class="logs-table">
            <tbody>
            {% for log in logs %}
                <tr>
                    <td>{{ log }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</body>
</html>